:root {
    --primary_color: black;
    --secondary_color: crimson;
    --white_color: white;
    --light_gray_color: #EEEEEE;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: var(--primary_color);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
    line-height: 1.2;
}

.main_bg {
    background-image: url(../img/slanted-gradient.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white_color);
}

.white_bg {
    background: var(--white_color);
}

.main_content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    height: 100vh;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 0.1rem solid var(--light_gray_color);
}

.menu_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary_color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary_color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary_color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.intro_spacing {
    height: 6.7rem;
}

.intro_content {
    position: relative;
    top: -5rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    height: 100vh;
}

.intro_text_content,
.intro_img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro_img img {
    max-width: 100%;
    height: auto;
}

.top_3_content {
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid_counter;
}

.grid_one_content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
}

.grid_main_heading {
    margin-bottom: 1rem;
}

.grid_descriptions {
    padding-bottom: 5rem;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding: 0 0 2rem 5rem;
}

.grid h3::before {
    counter-increment: grid_counter;
    content: counter(grid_counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}